In [1]:
import os
import pandas as pd

# Directory path
folder_path = '/Users/TennisPhysics/Downloads/archive (1)'

# List all files in the folder
files = os.listdir(folder_path)

# Initialize an empty list to store DataFrames
dfs = []

# Loop through each file in the folder
for file in files:
    # Check if the file is a CSV file
    if file.endswith('.csv'):
        # Create the full file path
        file_path = os.path.join(folder_path, file)
        
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # df.drop('Genre', axis=1, inplace=True)
        
        # Append the DataFrame to the list
        dfs.append(df)

# Concatenate all DataFrames into one
concatenated_df = pd.concat(dfs, ignore_index=True)

# # Save the concatenated DataFrame to a new CSV file
# concatenated_df.to_csv('/Users/TennisPhysics/Downloads/movies_metadata.csv', index=False)

# # Optional: Print out the first few rows of the concatenated DataFrame
# print("Movies CSV created with all data:")
concatenated_df.head()

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $),Genre
0,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN,crime
1,tt11564570,Glass Onion,2022,PG-13,139 min,"Comedy, Crime, Drama",7.2,Famed Southern detective Benoit Blanc travels ...,Rian Johnson,/name/nm0426059/,"Daniel Craig, \nEdward Norton, \nKate Hudson, ...","/name/nm0185819/,/name/nm0001570/,/name/nm0005...",333315.0,NaN,crime
2,tt10365998,Infinity Pool,2023,R,117 min,"Crime, Horror, Mystery",6.5,James and Em Foster are enjoying an all-inclus...,Brandon Cronenberg,/name/nm0188722/,"Alexander Skarsgård, \nMia Goth, \nCleopatra C...","/name/nm0002907/,/name/nm5301405/,/name/nm1671...",6955.0,NaN,crime
3,tt14138650,The Pale Blue Eye,2022,R,128 min,"Crime, Horror, Mystery",6.6,A world-weary detective is hired to investigat...,Scott Cooper,/name/nm0178376/,"Christian Bale, \nHarry Melling, \nSimon McBur...","/name/nm0000288/,/name/nm0577982/,/name/nm0564...",85087.0,NaN,crime
4,tt15789492,Infiesto,2023,TV-MA,96 min,"Crime, Drama, Thriller",5.5,Two detectives are called to a small mining to...,Patxi Amezcua,/name/nm0025538/,"Isak Férriz, \nIria del Río, \nAntonio Buíl, \...","/name/nm1929945/,/name/nm4170579/,/name/nm0125...",2081.0,NaN,crime

In [2]:
movie_data = pd.read_csv('/Users/TennisPhysics/Downloads/movie_data.csv')
movie_data.head(5)

   conversation_id  movie_id                                movie_name  liked
0              391    203371  Final Fantasy: The Spirits Within (2001)      1
1              391     84779         The Triplets of Belleville (2003)      1
2              391    122159                       Mary and Max (2009)      1
3              391    151313                  A Scanner Darkly  (2006)      1
4              391    191602                        Waking Life (2001)      1

In [3]:
# Function to safely create the 'movie_name_year' column
def create_movie_name_year(row):
    # Check if both movie_name and year are valid
    if pd.notnull(row['movie_name']) and pd.notnull(row['year']):
        try:
            # Try converting the year to an integer
            year = int(row['year'])
            return f"{row['movie_name']} ({year})"
        except ValueError:
            # If conversion fails, return None or a default string
            return f"{row['movie_name']} (Invalid Year)"
    return None

# Step 2: Apply the function to create the new column
concatenated_df['movie_name_year'] = concatenated_df.apply(create_movie_name_year, axis=1)

# Display the DataFrame
concatenated_df.head(5)

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $),Genre,movie_name_year
0,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN,crime,Fast X (2023)
1,tt11564570,Glass Onion,2022,PG-13,139 min,"Comedy, Crime, Drama",7.2,Famed Southern detective Benoit Blanc travels ...,Rian Johnson,/name/nm0426059/,"Daniel Craig, \nEdward Norton, \nKate Hudson, ...","/name/nm0185819/,/name/nm0001570/,/name/nm0005...",333315.0,NaN,crime,Glass Onion (2022)
2,tt10365998,Infinity Pool,2023,R,117 min,"Crime, Horror, Mystery",6.5,James and Em Foster are enjoying an all-inclus...,Brandon Cronenberg,/name/nm0188722/,"Alexander Skarsgård, \nMia Goth, \nCleopatra C...","/name/nm0002907/,/name/nm5301405/,/name/nm1671...",6955.0,NaN,crime,Infinity Pool (2023)
3,tt14138650,The Pale Blue Eye,2022,R,128 min,"Crime, Horror, Mystery",6.6,A world-weary detective is hired to investigat...,Scott Cooper,/name/nm0178376/,"Christian Bale, \nHarry Melling, \nSimon McBur...","/name/nm0000288/,/name/nm0577982/,/name/nm0564...",85087.0,NaN,crime,The Pale Blue Eye (2022)
4,tt15789492,Infiesto,2023,TV-MA,96 min,"Crime, Drama, Thriller",5.5,Two detectives are called to a small mining to...,Patxi Amezcua,/name/nm0025538/,"Isak Férriz, \nIria del Río, \nAntonio Buíl, \...","/name/nm1929945/,/name/nm4170579/,/name/nm0125...",2081.0,NaN,crime,Infiesto (2023)

In [4]:
# concatenated_df.to_csv('/Users/TennisPhysics/Downloads/full_metadata.csv', index=False)

In [5]:
# # Split, sort, and rejoin the genres alphabetically within each genre field
# concatenated_df['genre'] = (
#     concatenated_df['genre']
#     .str.split(', ')  # Split the genre string into a list by commas
#     .apply(lambda x: ', '.join(sorted(x)))  # Sort the list and rejoin it into a string
# )

# # Check the updated genre field
# for i in concatenated_df['genre'].value_counts():

In [6]:
df = concatenated_df.copy()
df = df[['movie_name_year','genre', 'director', 'star', 'description']]

In [7]:
df.head(3)

,movie_name_year,genre,director,star,description
0,Fast X (2023),"Action, Crime, Mystery",Louis Leterrier,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...",Dom Toretto and his family are targeted by the...
1,Glass Onion (2022),"Comedy, Crime, Drama",Rian Johnson,"Daniel Craig, \nEdward Norton, \nKate Hudson, ...",Famed Southern detective Benoit Blanc travels ...
2,Infinity Pool (2023),"Crime, Horror, Mystery",Brandon Cronenberg,"Alexander Skarsgård, \nMia Goth, \nCleopatra C...",James and Em Foster are enjoying an all-inclus...

In [8]:
df = df.drop_duplicates()

In [9]:
# # Group by 'movie_name_year' and count occurrences
# duplicate_movies = df['movie_name_year'].value_counts()

# # Filter for duplicate entries (count > 1)
# duplicates = duplicate_movies[duplicate_movies > 1]

# # Print each duplicate movie_name_year
# if not duplicates.empty:
#     print("Movies with duplicates:")
#     for movie_name_year in duplicates.index:
#         print(movie_name_year)
# else:
#     print("No duplicates found.")

In [10]:
movies_with_metadata = pd.merge(movie_data, df, left_on='movie_name', right_on='movie_name_year')

In [11]:
movies_with_metadata

,conversation_id,movie_id,movie_name,liked,movie_name_year,genre,director,star,description
0,391,203371,Final Fantasy: The Spirits Within (2001),1,Final Fantasy: The Spirits Within (2001),"Animation, Action, Adventure","Hironobu Sakaguchi, \nMotonori Sakakibara","Alec Baldwin, \nSteve Buscemi, \nMing-Na Wen, ...",A scientist makes a last stand on Earth with t...
1,391,84779,The Triplets of Belleville (2003),1,The Triplets of Belleville (2003),"Animation, Adventure, Comedy",Sylvain Chomet,"Michèle Caucheteux, \nJean-Claude Donda, \nMic...",When her grandson is kidnapped during the Tour...
2,391,122159,Mary and Max (2009),1,Mary and Max (2009),"Animation, Comedy, Drama",Adam Elliot,"Toni Collette, \nPhilip Seymour Hoffman, \nEri...",A tale of friendship between two unlikely pen ...
3,391,191602,Waking Life (2001),1,Waking Life (2001),"Animation, Drama, Fantasy",Richard Linklater,"Ethan Hawke, \nTrevor Jack Brooks, \nLorelei L...",A man shuffles through a dream meeting various...
4,391,165710,The Boss Baby (2017),1,The Boss Baby (2017),"Animation, Adventure, Comedy",Tom McGrath,"Alec Baldwin, \nSteve Buscemi, \nJimmy Kimmel,...","A suit-wearing, briefcase-carrying baby pairs ..."
...,...,...,...,...,...,...,...,...,...
19623,19918,204974,Black Panther (2018),1,Black Panther (2018),"Action, Adventure, Sci-Fi",Ryan Coogler,"Chadwick Boseman, \nMichael B. Jordan, \nLupit...","T'Challa, heir to the hidden but advanced king..."
19624,19918,204899,Insidious: The Last Key (2018),1,Insidious: The Last Key (2018),"Horror, Mystery, Thriller",Adam Robitel,"Lin Shaye, \nLeigh Whannell, \nAngus Sampson, ...",Parapsychologist Dr. Elise Rainier faces her m...
19625,19918,205934,Rampage (2018),2,Rampage (2018),"Action, Adventure, Sci-Fi",Brad Peyton,"Dwayne Johnson, \nNaomie Harris, \nMalin Akerm...",When three different animals become infected w...
19626,19920,85036,The Matrix (1999),1,The Matrix (1999),"Action, Sci-Fi","Lana Wachowski, \nLilly Wachowski","Keanu Reeves, \nLaurence Fishburne, \nCarrie-A...",When a beautiful stranger leads computer hacke...
19627,19920,170277,The Terminator (1984),1,The Terminator (1984),"Action, Sci-Fi",James Cameron,"Arnold Schwarzenegger, \nLinda Hamilton, \nMic...",A human soldier is sent from 2029 to 1984 to s...

In [12]:
movies_with_metadata.drop(['conversation_id', 'movie_name_year', 'description'], axis=1, inplace=True)

In [13]:
movies_with_metadata.head(5)

,movie_id,movie_name,liked,genre,director,star
0,203371,Final Fantasy: The Spirits Within (2001),1,"Animation, Action, Adventure","Hironobu Sakaguchi, \nMotonori Sakakibara","Alec Baldwin, \nSteve Buscemi, \nMing-Na Wen, ..."
1,84779,The Triplets of Belleville (2003),1,"Animation, Adventure, Comedy",Sylvain Chomet,"Michèle Caucheteux, \nJean-Claude Donda, \nMic..."
2,122159,Mary and Max (2009),1,"Animation, Comedy, Drama",Adam Elliot,"Toni Collette, \nPhilip Seymour Hoffman, \nEri..."
3,191602,Waking Life (2001),1,"Animation, Drama, Fantasy",Richard Linklater,"Ethan Hawke, \nTrevor Jack Brooks, \nLorelei L..."
4,165710,The Boss Baby (2017),1,"Animation, Adventure, Comedy",Tom McGrath,"Alec Baldwin, \nSteve Buscemi, \nJimmy Kimmel,..."

In [14]:
# movies_with_metadata[movies_with_metadata['movie_id'] == 203371]

In [15]:
df_no_duplicates = movies_with_metadata.drop_duplicates()
df_no_duplicates.head(5)

,movie_id,movie_name,liked,genre,director,star
0,203371,Final Fantasy: The Spirits Within (2001),1,"Animation, Action, Adventure","Hironobu Sakaguchi, \nMotonori Sakakibara","Alec Baldwin, \nSteve Buscemi, \nMing-Na Wen, ..."
1,84779,The Triplets of Belleville (2003),1,"Animation, Adventure, Comedy",Sylvain Chomet,"Michèle Caucheteux, \nJean-Claude Donda, \nMic..."
2,122159,Mary and Max (2009),1,"Animation, Comedy, Drama",Adam Elliot,"Toni Collette, \nPhilip Seymour Hoffman, \nEri..."
3,191602,Waking Life (2001),1,"Animation, Drama, Fantasy",Richard Linklater,"Ethan Hawke, \nTrevor Jack Brooks, \nLorelei L..."
4,165710,The Boss Baby (2017),1,"Animation, Adventure, Comedy",Tom McGrath,"Alec Baldwin, \nSteve Buscemi, \nJimmy Kimmel,..."

In [19]:
movies = df_no_duplicates.copy()

In [20]:
movies.head(5)

,movie_id,movie_name,liked,genre,director,star
0,203371,Final Fantasy: The Spirits Within (2001),1,"Animation, Action, Adventure","Hironobu Sakaguchi, \nMotonori Sakakibara","Alec Baldwin, \nSteve Buscemi, \nMing-Na Wen, ..."
1,84779,The Triplets of Belleville (2003),1,"Animation, Adventure, Comedy",Sylvain Chomet,"Michèle Caucheteux, \nJean-Claude Donda, \nMic..."
2,122159,Mary and Max (2009),1,"Animation, Comedy, Drama",Adam Elliot,"Toni Collette, \nPhilip Seymour Hoffman, \nEri..."
3,191602,Waking Life (2001),1,"Animation, Drama, Fantasy",Richard Linklater,"Ethan Hawke, \nTrevor Jack Brooks, \nLorelei L..."
4,165710,The Boss Baby (2017),1,"Animation, Adventure, Comedy",Tom McGrath,"Alec Baldwin, \nSteve Buscemi, \nJimmy Kimmel,..."

In [22]:
# Split the 'genre' column into up to 3 columns
df = movies

# Split the 'genre' column into up to 3 columns
genre_split = df['genre'].str.split(',', expand=True, n=2)
genre_split.columns = ['Genre1', 'Genre2', 'Genre3']


# Keep only 1 director
df['Director1'] = df['director'].str.split(',').str[0]


# Split the 'star' column into up to 4 columns (handling newlines and commas)
star_split = df['star'].str.replace('\n', '', regex=True).str.split(',', expand=True, n=3)
star_split.columns = ['Star1', 'Star2', 'Star3', 'Star4']


# Combine the original DataFrame with the new split columns
df_combined = pd.concat([df, genre_split, star_split], axis=1)


# Drop the original 'genre', 'director', and 'star' columns if no longer needed
df_combined.drop(columns=['genre', 'director', 'star'], inplace=True)


# Save the new DataFrame to a CSV file
# df_combined.to_csv("split_columns_limited_output.csv", index=False)

In [23]:
df_combined.head(5)

,movie_id,movie_name,liked,Director1,Genre1,Genre2,Genre3,Star1,Star2,Star3,Star4
0,203371,Final Fantasy: The Spirits Within (2001),1,Hironobu Sakaguchi,Animation,Action,Adventure,Alec Baldwin,Steve Buscemi,Ming-Na Wen,Ving Rhames
1,84779,The Triplets of Belleville (2003),1,Sylvain Chomet,Animation,Adventure,Comedy,Michèle Caucheteux,Jean-Claude Donda,Michel Robin,Monica Viegas
2,122159,Mary and Max (2009),1,Adam Elliot,Animation,Comedy,Drama,Toni Collette,Philip Seymour Hoffman,Eric Bana,Barry Humphries
3,191602,Waking Life (2001),1,Richard Linklater,Animation,Drama,Fantasy,Ethan Hawke,Trevor Jack Brooks,Lorelei Linklater,Wiley Wiggins
4,165710,The Boss Baby (2017),1,Tom McGrath,Animation,Adventure,Comedy,Alec Baldwin,Steve Buscemi,Jimmy Kimmel,Lisa Kudrow

In [25]:
df_combined.to_csv('/Users/TennisPhysics/Downloads/movies.csv', index=False)

In [ ]:
df.head(5)

In [ ]:
genres = df_no_duplicates[['movie_id', 'movie_name', 'liked', 'genre']].copy()
genres['genre_split'] = genres['genre'].apply(lambda x: str(x).split(', '))
genres = genres.explode('genre_split')
genres.to_csv('/Users/TennisPhysics/Downloads/genres.csv', index=False)

In [ ]:
directors = df_no_duplicates[['movie_id', 'movie_name', 'liked', 'director']].copy()
directors['directors_split'] = directors['director'].apply(lambda x: str(x).split(', '))
directors = directors.explode('directors_split')
directors.to_csv('/Users/TennisPhysics/Downloads/directors.csv', index=False)

In [ ]:
stars = df_no_duplicates[['movie_id', 'movie_name', 'liked', 'star']].copy()
stars['stars_split'] = stars['star'].apply(lambda x: str(x).split(', '))
stars = stars.explode('stars_split')
stars.to_csv('/Users/TennisPhysics/Downloads/stars.csv', index=False)

In [ ]:
# df_no_duplicates[df_no_duplicates['movie_id'] == 165710]

In [ ]:
# df = df_no_duplicates.copy()
# df = df[['conversation_id', 'movie_id',	'movie_name', 'liked', 'genre']]

# # Step 1: Split 'genre', 'director', and 'star' columns into lists
# df['genre_split'] = df['genre'].apply(lambda x: str(x).split(', '))
# # movies_with_metadata['director_split'] = movies_with_metadata['director'].apply(lambda x: str(x).split(', '))
# # movies_with_metadata['star_split'] = movies_with_metadata['star'].apply(lambda x: str(x).split(', '))

# # Step 2: Explode the DataFrame so each genre, director, and star gets its own row
# df = df.explode('genre_split') #.explode('director_split').explode('star_split')
# df.drop('genre', axis=1, inplace=True)

In [ ]:
df

In [ ]:
df['movie_id_occurence'] = df['movie_id']

In [ ]:
df.to_csv('/Users/TennisPhysics/Downloads/movies_with_metadata.csv', index=False)

In [ ]:
liked_df = df[df['liked'] == 1]

In [ ]:
liked_df['liked'].unique()

In [ ]:
liked_df.drop(['genre_split', 'unique_id'], axis=1, inplace=True)

In [ ]:
liked_df = liked_df.drop_duplicates()
liked_df.head(10)

In [ ]:
liked_df['movie_name'].value_counts()

In [ ]:
liked_df['unique_id'] = range(len(liked_df))
liked_df.head(10)

In [ ]:
liked_df.to_csv('/Users/TennisPhysics/Downloads/movies_with_metadata.csv', index=False)